{% load static %}
{% load active_link_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}无标题页{% endblock %} | Pelican博客管理器</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
</head>
<body class="col-xs-12">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'console:index' %}">Pelican博客管理器</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link {% active_link 'console:index' %}" href="{% url 'console:index' %}">首页</a>
        </li>
    </ul>
</nav>

<div class="body m-4">
    {% block body %}
    {% endblock %}
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>
</html>